.projects-principal-container {
    width: 100%;
    flex-shrink: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: aliceblue;
    font-family: "Google Sans Code";
}

.projects-title {
    width: 100%;
    text-align: center;

    font-size: 3rem;
    color: rgba(240, 248, 255, 0.562);
    margin: 10px;
}

.projects-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 0px 0px 40px 55px;
    gap: 1rem;
}

@media (max-width: 768px) {

    .projects-principal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-grid  {
        height: auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
}