.project-card {
    background-color: rgba(20, 20, 35, 0.6);
    border-radius: 18px;
    height: 50%;
    width: 30%;

    display: flex;
    flex-direction: column;

    border: 1px solid rgba(255,255,255,0.08);    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
}

.project-image {
    flex: 0.4;
    position: relative;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.25rem 0.6rem;
    border-radius: 12px;
    font-size: 0.7rem;
}

.project-status.live {
    background-color: #22c55e;
    color: #000;
}

.project-status.dev {
    background-color: #facc15;
    color: #000;
}

.project-content {
    flex: 0.5;
    padding: 0.5rem;
}


.project-content h3{
    margin: 0;
}

.project-content p{
    margin: 15px 0px 0px 0px;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin: 0.6rem 0;
}

.project-tech span {
    background-color: rgba(255,255,255,0.08);
    padding: 0.25rem 0.6rem;
    border-radius: 10px;
    font-size: 0.7rem;
}

.project-links a {
    margin-right: 0.7rem;
    font-size: 0.rem;
    color: #6ee7ff;
    text-decoration: none;
}

