.skills-principal-container {
    width: 100%;
    flex-shrink: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: aliceblue;
    font-family: "Google Sans Code";
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1.5rem;
    padding: 30px;
}

.title {
    width: 100%;
    text-align: center;

    font-size: 3rem;
    color: rgba(240, 248, 255, 0.562);
}
