@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.about-me-container {
  color: #e4d7bc; 
  background: linear-gradient(#2a563f, #0D0D0D);
  font-family: 'Source Code Pro', monospace, monospace;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  gap: 1rem;
}

#sep-about {
  height: 2px;
  width: 50%;            
  background-color: #b2d1c831;
  margin: auto auto; 
  position: absolute;
  top: 200%;
  left: 25%;
  z-index: 0;
}

.about-me h2 {
  font-size: 2rem;
  color: #b2d1c8;
  border-bottom: 2px solid #b2d1c8;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.about-me-text {
    padding-top: 1rem;
    max-width: 600px;
    line-height: 1.4;
    text-align: justify;
}