.contact-container {
  background: linear-gradient(#0D0D0D, #2a563f);
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  color: #f0f0f0; 
  font-family: 'Source Code Pro', monospace, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

#sep-contacto {
  height: 2px;
  width: 50%;            
  background-color: #b2d1c831;
  margin: auto auto; 
  position: absolute;
  top: 390%;
  left: 25%;
  z-index: 0;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}