.contact-container {
  background: linear-gradient( hsl(0, 0%, 13%), #0d46b13b);
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  color: #f0f0f0; 
  font-family: 'Source Code Pro', monospace, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

#sep-contacto {
  height: 2px;
  width: 50%;            
  background-color: #b2d1c831;
  margin: auto auto; 
  position: absolute;
  top: 390%;
  left: 25%;
  z-index: 0;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .contact-links {
    flex-direction: row;
    gap: 1rem;
  }

  #sep-contacto {
    display: none;
  }
}