@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.tech-container {
    
    background-color: (#0D0D0D);
    padding-top: 3rem;
    padding-bottom: 10vh;
    height: 100vh;
    color: #f0f0f0; 
    font-family: 'Source Code Pro', monospace, monospace;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tech-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}

.tech-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.tech-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#sep-tech {
  height: 2px;
  width: 50%;            
  background-color: #b2d1c831;
  margin: auto auto; 
  position: absolute;
  top: 300%;
  left: 25%;
  z-index: 0;
}

@media (max-width: 768px) {
  .tech-icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

    .tech-logo {
        width: 50px;
        height: 50px;
    }

    #sep-tech {
        display: none;
    }
}