@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.name-surname {
  color: #f0f0f0; 
  font-family: 'Inter', sans-serif;
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.separator {
  width: 16vw;
  height: 1px;
  margin-top: 2rem;
  background-color: #6da9ba;
}

#name {
  font-size: 3.5rem;
  color: #f0f0f0;
}

#surname {
  font-size: 3.5rem;
  color: #6da9ba;
}

.type-writter {
  color: #f0f0f0; 
  font-family: 'Source Code Pro', monospace, monospace;
}

.cursor {
  animation: blink 1s infinite;
  color: #f0f0f0;
}

.presentation {
  padding-top: 2rem;
  max-width: 50vw;
  line-height: 1.5;
  text-align: justify;
  font-size: 1.1rem;
}

.presentation-links {
  padding-top: 1.2rem;
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: #a5a5a5;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #ffffff; 
}

.email {
  text-decoration: none;
  position: fixed;
  top: 38%;
  left: 10px;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  font-family: monospace;
  font-size: 2.2vh;
  color: #aaa;
  letter-spacing: 0.2em;
  z-index: 1000;
}

.email:hover {
  color: #fff;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
  color: #6da9ba;
  cursor: pointer;
  z-index: 10;

  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  pointer-events: all;
}

.scroll-down.hidden {
  opacity: 0;
  pointer-events: none;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}
