:root {
  --border-soft: rgba(104, 104, 104, 0.451);
}

.principal-page-container {
    position: relative;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  object-fit: cover;
  z-index: -1;
}

.principal-data-container {
    width: 70%;
    height: 90%;

    border-radius: 30px;
    overflow: hidden;

    background-color: rgba(18, 18, 35, 0.439);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;

    z-index: 1;
}

.nav-bar-container {
    width: 100%;
    flex: 0.08;

    border-bottom: 1px solid var(--border-soft);

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    color: aliceblue;
}

.nav-bar-container a {
    padding-right: 3%;
    padding-bottom: 5px;

    font-size: 1.1rem;

    font-family: "Google Sans Code";

    text-decoration: none;
    color: aliceblue;
}

.principal-content-container {
    width: 100%;
    flex: 0.92;

    display: flex;
    flex-direction: row;

    min-height: 0;
}

.left-bar-container {
    display: flex;
    flex-direction: column;

    max-height: 100%;

    flex: 0.2;
    border-right: 1px solid var(--border-soft);

    color: aliceblue;

    gap: 20px;
}

.personal-data {
    width: 100%;

    display: flex;

    flex-direction: column;
    align-items: center;
}

.personal-data  a {
    text-decoration: none;
    color: aliceblue;
}

.center-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;

    height: 100%;
}

.center-content section {
    min-height: 100%;
}

.subtitle {
    margin-left: 25px;
    font-size: 1.4rem;
    font-family: "Google Sans Code", monospace;
    color: rgba(194, 194, 194, 0.602);;
}

@media (max-width: 898px) {
    .principal-data-container {
        min-height: 95%;
        width: 95%;
    }
    
    .left-bar-container {
        display: none;
    }

    .center-content section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: auto;
    }

    .nav-bar-container {
        display: flex;
        flex: 0.05;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}