@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.navbar {
  color: white;
  background-color: #1a161aab;
  height: 10vh;
  font-family: 'Source Code Pro', monospace, monospace;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px); 
  position: sticky;
  top : 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-title {
  padding-left: 20vh;
  padding-top: 2vh;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
}

#surname {
  color: #b2d1c8;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-right: 10vw;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.navbar-menu a:hover {
  color: #b2d1c8;
  font-size: 1.04rem;
  transform: translateY(-5px);
}