.contact-container {
  padding-top: 20vh;
  padding-bottom: 20vh;
  color: #f0f0f0; 
  font-family: 'Source Code Pro', monospace, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
  padding-bottom: 15vh;
}